/*  your css code here. If applicable */
#main{
	width: 80%;
	height: 500%;
	background-color: #f5f5f5;
	padding : 30px 30px 40px;
}
#main>div{
	background-color: white;
	border-style: solid whitesmoke;
	border-width: 1px;
	
	}
.i1{
	text-align: right;
	font-style: italic;
}
.p{
	margin: 1px;
}
